.container {
  padding: 10px;
}

.container .title {
  /*truncate*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .subtitle {
  color: #757575;
  font-size: 14px;
}

.container iron-image {
  min-height: 54px;
  min-width: 54px;
  margin-right: 24px;

  border-radius: 50%;
  background-color: #E1F5FE;
}
